<h1>Welcome to Bartertown!</h1>
<p>MASTER BLASTER RUN BARTERTOWN!</p>
<p>Here are a list of stores in Bartertown!</p>
<td><%= link_to 'New Store', new_store_path %></td>
<td><%= link_to 'List of Stores', stores_path %></td>